@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('vendor/normalize.css');
@import url('defaults.css');
@import url('vendor/bootstrap.css');

/*
  Fonts: Arial, Source Sans Pro
  Colors:
    #1b3553
    #d5dfea
    #e7e7e7
    #d3d3d3
    #f6f6f6
    #9bacc0
*/

a, a:link {
  cursor: pointer;
  text-decoration: none;
}
body,
html {
  background: #fff;
  height:100%;
}
body {
  margin: 0px;
  min-width: 320px;
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
}
footer,
header {
  clear: both;
}
footer,
header,
section {
  margin-top: 20px;
  width: 100%;
}
footer {
  font-size: 11px;
}

.hero-image {
  min-height: 362px;
  background-color: transparent;
  background-image: url('../img/bg-fire-sprinklers.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}

.services-showcase {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

ul.contact-information {
  background-color: #d3d3d3;
  text-align: center;
  display: block;
  margin: 0px;
  padding: 10px 0px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
ul.contact-information li {
  display: inline;
  margin: 0px;
}
ul.contact-information li:before {
  color: #f6f6f6;
  content: '\007C';
  margin: 0px 10px;
}
ul.contact-information li:first-child:before {
  content: '';
  margin: 0px; 
}
ul.contact-information li:last-child {
  padding-right: 0px;
}
ul.contact-information a, ul.contact-information a:link {
  color: #ffffff;
}
ul.contact-information a:hover {
  color: inherit;
}

.copyright {
  color: #d3d3d3;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  margin: 0;
}