@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('vendor/normalize.css');
@import url('defaults.css');
@import url('vendor/jquery-ui-1.10.2.css');
@import url('vendor/bootstrap.css');

/* Header Color: #227edd */
/* HR Color: #005cd1 */
/* Menu Color: #63A5F8 */

a, a:link {
  cursor: pointer;
  text-decoration: none;
}
body,
html {
  background: #fff;
  height:100%;
}
body {
  margin: 0px;
  min-width: 320px;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}
footer,
header {
  clear: both;
}
footer,
header,
section {
  margin-top: 20px;
  width: 100%;
}
footer {
  font-size: 11px;
}

.navbar .brand {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #63A5F8, #005cd1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#63A5F8), to(#005cd1));
  background-image: -webkit-linear-gradient(top, #63A5F8, #005cd1);
  background-image: -o-linear-gradient(top, #63A5F8, #005cd1);
  background-image: linear-gradient(to bottom, #63A5F8, #005cd1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63A5F8', endColorstr='#005cd1', GradientType=0);
}

ul.contact-information {
  display: block;
  margin: 0px;
  padding: 15px 0px;
}
ul.contact-information li {
  display: inline;
  margin: 0px;
}
ul.contact-information li:before {
  content: '\2022';
  margin: 0px 10px;
}
ul.contact-information li:first-child:before {
  content: '';
  margin: 0px; 
}
ul.contact-information li:last-child {
  padding-right: 0px;
}

.copyright {
  width: 100%;
  padding: 15px 0;
  text-align: right;
  margin: 0;
}